<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand font-weight-bolder float-left" routerLink="/">
    Forms in Angular
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/reactive-form']">Reactive Form</a>
      </li>
    </ul>
  </div>
</nav>
